body {
  margin: 0;
  font-family: sans-serif;
  background-color: black;
  scroll-behavior: smooth;
}

.App {
  display: flex;
  flex-direction: column;
  color: white;
}

/* ======================================== Navbar ======================================== */

.navbarContainer {
  display: flex;
  justify-content: center;
}

.navbar {
  margin-top: 25px;
  position: fixed;
  font-size: 20px;
  display: flex;
  align-items: center;
  padding: 15px;
  background: rgb(38, 50, 37);
  background: linear-gradient(90deg, rgba(38, 50, 37, 0.9) 0%, rgba(115, 136, 119, 0.5) 100%);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  border-radius: 100px;
}

.navbar a {
  text-decoration: none;
  color: white;
  margin: 0 20px;
}

/* ======================================== Home ======================================== */

.homeContainer {
  height: 100vh;
  display: flex;
  align-items: center;
}

.home {
  display: flex;
  flex-direction: column;
  margin-left: 15vw;
}

.homeTextContainer {
  font-size: 20px;
  max-width: 500px;
}

.greetingText {
  font-size: 18px;
  color: #99FFB5;
  margin-bottom: 20px;
}

.milaText {
  font-size: 70px;
}

.softwareText {
  font-size: 70px;
  color: #99FFB5;
  margin-bottom: 20px;
}

.buttonsContainer {
  display: flex;
  margin-top: 20px;
}

.buttonsContainer button {
  font-size: 18px;
  background-color: #2B2B2B;
  padding: 5px 14px;
  margin: 5px;
  border-radius: 10px;
  border: none;
  color: inherit;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 30px;
}

.buttonsContainer img {
  height: 30px;
  margin-right: 5px;
  margin-left: -8px;
}

/* ======================================== About ======================================== */

.aboutContainer {
  margin-top: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin: 90px;
  gap: 20px;
}

.aboutMeColumn {
  flex: 1;
  padding: 0 50px 0 100px;
  /* background-color: rgb(106, 65, 65); */
}

.skillsColumn {
  flex: 1;
  padding: 0 100px 0 50px;
  /* background-color: rgb(54, 54, 103); */
}

.headingText {
  font-weight: bold;
  font-size: 40px;
}

.skillsButtonsContainer {
  display: flex;
  flex-direction: row;
}

.skillsButtonsContainer button {
  font-size: 18px;
  background-color: #99FFB5;
  padding: 2px 22px;
  margin: 5px;
  border-radius: 10px;
  border: none;
  color: black;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 30px;
}