body {
  margin: 0;
  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.App {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 25px;
}

.navbar h3 {
  margin: 0;
}

.navbar a {
  text-decoration: none;
  color: white;
  margin-left: 20px;
}